.product {
  margin: auto;
  //background-color: #00B7FF !important;
  //background-color: #ffffff !important;
  //background-color: #ffffff !important;

}
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .5;
  position: absolute;
  width: 100%;
}
